.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 400px;
  padding: 0.5rem;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  color: rgba(105, 111, 187, 0.8);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.card h2:hover {
  color: rgba(105, 111, 187, 0.5);
}

.card p {
  color: rgba(39, 45, 121, 0.8);
  font-style: italic;
  margin-bottom: 0.5rem;
}

.card span {
  font-size: 12px;
  margin-bottom: 0.5rem;
  color: rgba(136, 136, 136, 0.8);
}

.card:hover {
  border-color: rgb(206, 217, 142);
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card button {
  height: 40px;
  width: 40px;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  color: rgba(136, 136, 136, 0.8);
  transition: all 0.3s ease-in-out;
}

.card button:hover {
  color: rgba(105, 111, 187, 0.8);
  transform: scale(1.2);
}

.content-card {
  width: 100%;
  text-align: center;
}

.card-link {
  text-decoration: none;
  color: rgba(39, 45, 121, 0.8);
  transition: color 0.2s ease-in-out;
}

.card-link:hover {
  color: rgba(105, 111, 187, 0.8);
  text-decoration: none;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
