nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 1.5rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav span {
  color: rgba(250, 150, 4, 0.73);
  font-weight: bold;
  font-size: 25px;
  margin-left: 10%;
}

nav div {
  display: flex;
  align-items: center;
}

nav div a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-left: 50px;
  transition: color 0.2s ease-in-out;
}

nav div a:hover {
  color: rgb(136, 136, 136);
}

.themeButton {
  margin-left: 2rem;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.themeButton:hover {
  transform: scale(1.1);
}
