:root {
  --primary-color: #000;
  --secondary-color: #888;
  --font-family: 'Montserrat', 'Noto Sans JP', 'Roboto Condensed', Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smooth: antialiased;
  -moz-font-smooth: antialiased;
  font-smooth: antialiased;
}
  
h1 {
  text-align: center;
}
  
a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
  
a:hover {
  color: var(--secondary-color);
}
  
.contact {
  text-align: center;
  margin: 80px;
}
  
.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}
  
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  height: 40px;
  margin-top: 2rem;
}
  
footer > img {
  width: 200px;
  margin: 0;
}
  
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}
  
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
  
.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 85%;
  display: table;
  border: 1px solid #ccc;
  margin: 5%;
  height: 20vh;
}
  
td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}
  
.tableCategories {
  font-weight: bold;
}
  
.tableData {
  font-weight: 300;
}
  
tr:nth-child(even) {
  background-color: #dddddd;
}
  
.dark {
  background-color: #12121296;
  color: white;
}
  
.dark > a {
  color: white;
}
